/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ci dessus le reset CSS-------------------------------------------------*/

@font-face
{
    font-family: 'font';
    src: url('font/GeosansLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'titre';
    src: url('font/source-code-pro-light.otf');
    font-weight: normal;
    font-style: normal;
}



/*base de la page*/



body {
	background: url("../img/fond.jpg") fixed no-repeat top center;
	min-height: 100%;	/*pas dformer l'image en hauteur*/
	min-width:100%;	/*pas dformer l'image en lageur*/
	background-size: cover; /*toute la page*/
	/*-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
	/*-o-background-size: 100% 100%;        /* Opera 9.5 */
	/*-webkit-background-size: 100% 100%;   /* Safari 3.0 */
	/*background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */
}
.page {
	width: 900px;
	background-color: rgba(10,10,10,0.8);
    margin: auto;
	border-width: 1px;
	border-color: #29a329;
	border-style:solid;
}

a {
	text-decoration: none;
	color: rgb(133, 224, 133);
	font-family: 'titre';
}
/*
a:hover {
	color: orange;
	font-size: 20px;
	font-family: 'titre';
}*/

h1 {
	color: orange;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	margin-top:65px;
	height:80px;
	font-family: 'titre';
}

h2 {
	color:  rgb(133, 224, 133);
	font-size: 20px;
	font-family: 'titre';
	text-transform: uppercase;
	text-align: center;
}


h3 {
	color:  rgb(133, 224, 133);
	font-family: 'titre';
	text-align: center;
}

p {
	color: white;
	font-size: 17px;
	text-align: justify;
	text-indent: 50px;
	font-family: 'font';
}





/*Tte de page------------------------------------------------------------------*/


header {
	border-width: 1px;
	border-color: #29a329;
	border-style:solid;
	border-radius: 20px;
	
	Width: 90%;
	/*margin: auto;	*/
	margin: 2% 2% 2% 2%;
	width : 95%;
	height: 100px;
	color: white;
	/*background-color: rgba(10,10,10,0.80);*/

	max-height: 100%;	
	max-width:100%;
	background: url("../img/banniere.jpg") no-repeat top center;
}

nav {
    text-align: right;
    display: relative;
	height:100%;
	width:100%;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 35px;
    margin-top: 7.5%; /*par rapport au haut de la page pourquoi ?*/
	Width: 15%;
	text-transform: uppercase;
	font-size:20px;
	
	background-color: rgba(10,10,10,0.80);
	border-radius : 10px;
	
}

/*menu droulant*/

.menu a { 
	display:block; 
}

.menu > li, .menu > li li {
	position: relative;
	display:inline-block;
	width: 110px;
	padding: 6px 15px;
}

.menu > li:hover, .menu > li li:hover { 
  background: #29a329;
  color: #FFF;
  }


.menu ul {
	position: absolute;
	padding: 0; /*tester le preference (avec/sans) (si "sans", enlever left et right : 0 (inutile)*/
	left: 0;
	right :0;
	max-height:0em;	
	margin: 0; 
	overflow: hidden;
	transition: 1s max-height 0.3s;
	background-color: rgba(10,10,10,0.90);
}

.menu > li:hover ul {
	max-height: 20em;
}


#accueil {margin-right:100px}


/*Corp de page----------------------------------------------------------------------------------------------*/


.corp {
	Width: 99%;
	margin: auto;
} 

section {
	margin: auto;	
	width: 99%;
}




.intersection {
	border-bottom-color: #29a329;
	border-bottom-width: 1px;
	border-bottom-style:solid;
}



/*slide show*/

#slideshow {
	position: relative;
	width: 640px;
	height: 310px;
	padding: 15px;
	margin: 0 auto 2em;
	border: 1px solid #ddd;
	background: #FFF;
	background: -webkit-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -moz-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -ms-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -o-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
}
 
#slideshow:before,
#slideshow:after {
	position: absolute;
	display:block;
	bottom:16px;
	width: 50%;
	height: 20px;
	content: " ";
}
#slideshow:before {
	left:0;
	transform: rotate(-4deg);
}
#slideshow:after {
	right:0;
	transform: rotate(4deg);
}

/* gestion des dimensions et débordement du conteneur */
#slideshow .container {
	position:relative;
	width: 640px;
	height: 310px;
	overflow: hidden;
}
	
/* on prévoit un petit espace gris pour la timeline */
#slideshow .container:after {
	position:absolute;
	bottom: 0; left:0;
	content: " ";
	width: 100%;
	height: 1px;
	background: #999;
}
/* 
   le conteneur des slides
   en largeur il fait 100% x le nombre de slides
*/
#slideshow .slider {
	position: absolute;
	left:0; top:0;
	width: 400%;
	height: 310px;
	animation: slider 32s infinite;
}

/* annulation des marges sur figure */
#slideshow figure {
	position:relative;
	display:inline-block;
	padding:0px;
	margin:-1.7px;
}
/* petit effet de vignette sur les images */
#slideshow figure:after {
	position: absolute;
	display:block;
	content: " ";
	top:0; left:0;
	width: 100%; height: 100%;
	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
}

/* styles de nos légendes */
#slideshow figcaption {
	position:absolute;
	left:0; right:0; bottom: 5px;
	padding: 20px;
	margin:0;
	border-top: 1px solid rgb(225,225,225);
	text-align:center;
	letter-spacing: 0.05em;
	word-spacing: 0.05em;
	font-family: Georgia, Times, serif;
	background: #fff;
	background: rgba(255,255,255,0.7);
	color: #555;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
	
	
	animation: figcaptionner 32s infinite;
}

@-webkit-keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}

@-moz-keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}


/*ligne de temps */

#timeline {
	position: absolute;
	background: #999;
	bottom: 15px;
	left: 15px;
	height: 2px;
	background: rgb(214,98,13);
	background: rgba(214,98,13,.8);
	width: 0;
	
	animation: timeliner 32s infinite;
}

@-moz-keyframes timeliner {
	0%, 25%, 50%, 75%, 100%	{ width: 0;		}
	20%, 45%, 70%, 90%		{ width: 640px;	}
}
@-webkit-keyframes timeliner {
	0%, 25%, 50%, 75%, 100%	{ width: 0;		}
	20%, 45%, 70%, 90%		{ width: 640px;	}
}

/*animation légende*/

@-moz-keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}

@-webkit-keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}

/* menu de selection de catégorie photos*/
/*
.categorie li{
	display: inline-block;
	vertical-align:top;
	width:24%;
	height:300px;
	
	border-width: 1px;
	border-color: #29a329;
	border-style:solid;
}

.categorie img:hover{
}

#CUBE img, #cycloside img, #JC img, #electro img{
	max-height: 100%;	
	background-size: cover;
}

#CUBE{background: url("img/1.jpg") absolute no-repeat top center}
#cycloside{background: url("img/2.jpg")  no-repeat top center}
#JC{background: url("img/3.jpg")  no-repeat top center}
#electro{background: url("img/4.gif")  no-repeat top center}







*/







/*
div#galerie
{
  width: 410px ;
  background: #eed ;
  border: 1px solid #dcb ;
  padding: 15px ;
  margin: 15px 30px ;
  text-align: center ;
  font: 0.9em Georgia, serif ;
}

ul#galerie_mini
{
  margin: 0 ;
  padding: 0 ;
  list-style-type: none ;
}

ul#galerie_mini li
{
  float: left ;
}

ul#galerie_mini li a img
{
  margin: 2px 1px ;
  border: 1px solid #dcb ;
}

dl#photo
{
  clear: both ;
  margin: 0 auto ;
}

dl#photo dt
{
  font: italic 2.5em/1.5em Georgia, serif ;
  color: #dcb ;
}

dl#photo dd
{
  margin: 0 ;
}

dl#photo img
{
  border: 1px solid #dcb ;
}

*/





/*
.img-desc {
	position: relative;
	display: block;
	height:335px;
	width: 575px;
}
.img-desc cite {
	background: #111;
	filter:alpha(opacity=55);
	opacity:.55;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 555px;
	padding: 10px;
	border-top: 1px solid #999;
}
*/



.hoverbox
{
	cursor: default;
	list-style: none;
}

.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
}

.hoverbox a:hover .preview
{
	display: block;
	/*position: absolute;*/
	top: -33px;
	left: -45px;
	max-height:150px;
	max-width:200px;
	z-index: 1;
}

.hoverbox img
{
	background: #fff;
	border-color: #aaa #ccc #ddd #bbb;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	max-width: 100px;
	max-height: 75px;
}

.hoverbox li
{
	background: #eee;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: relative;
}

.hoverbox .preview
{
	border-color: #000;
	width: 200px;
	height: 150px;
}












.intersection {
	border-bottom-color: #29a329;
	border-bottom-width: 1px;
	border-bottom-style:solid;
}




/*Pied de page----------------------------------------------------------------------------------*/


footer {
	Width: 99%;
	margin: auto;
	height: 150px;
	margin-bot: 20px;
    vertical-align: middle;
	text-align : center;
}

.partenaires, .reseaux, .contact {
	background-color: rgba(10,10,10,0.90);

	border-width: 1px;
	border-color:  #29a329;
	border-style:dotted;

	color : white;
    display: inline-block;
    vertical-align: top;
	width: 32.5%;
	margin: auto;
	height: 140px;
	text-align : center;
}

footer ul {
    list-style-type: none;
}

.reseaux li, .contact li {
	vertical-align: bottom; 
    display: inline-block;
	
}





